div{
    width: 1250px;
    height: 2415px;
    border: 3px solid black;
    background-color: rgb(214, 162, 214);
    padding: 20px;
    border-radius: 9px;
}
p{
    font-size: 17px;
}
.center{
    margin: auto;
    width: 70%;
}
.b{
    text-align: center;
}
button{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
button:hover{
    background-color: rgb(18, 18, 18);
}
label{
    font-size: 18px;
}
input{
    text-align: center;
}